/* Do everything in this file */
h2{
    border-bottom: 1px solid rgb(200, 0, 0);
    clear: both;
}

figure{
    float: right;
    width: 40%;
}

figure.img{
    width: fit-content;
    margin: 20px;
}

div{
    float: left;
    width: 15%;
    border: 2px solid black;
}

footer{
    clear: both;
    position:fixed;
    font-size: 20px;
}