/*Class selectors */
.box{
    border: 1px solid #ccccccfd;
    padding: 20px;
    margin-top: 20px;
    background-color: #848C8E;
    box-sizing: content-box;
    font-family: Arial, sans-serif;
}

.box h2{
    margin-top: 0px;
    text-align:center;
    font-family: Arial, sans-serif;
}

.framedImage{
    padding: 10px;
    margin: 0px;
    box-sizing: content-box;
    float: Left;
    max-height: 550px;
}

.projectLinks{
    text-align: center;
}

/*ID selectors */
#main-header { 
    background-color: #435058;
    color: #F1F2EE;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-family: Arial, sans-serif;
}


#site-footer{
    clear: both;
    background-color: #DCF763;
    color: #00000000;
    padding: 20px;
    text-align: center;
}
    
